/*tamanho da fonte dos componentes do primefaces*/
.ui-widget {
	font-size: 12px !important;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#content {
	min-height: 93%;
	position: relative;
}

#header {
	padding: 0px;
}

#body {
	padding: 10px;
	padding-bottom: 60px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	background: #3399FF;
	color: white;
}

body .ui-staticmessage.ui-message {
	width: 100%;
}

.btn-voltar {
	background: #f5f504 !important;
	float: left !important;
	color: grey !important;
}

.btn-salvar {
	background: #30a722 !important;
	float: right !important;
	color: white !important;
}

.ui-inputfield {
	width: 50% !important;
}
